body {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

#root {
  width: 100%;
  height: 100%; }

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  height: 100%; }

.btn {
  display: inline-block;
  box-sizing: border-box;
  margin-bottom: 0;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  font-size: 21px;
  line-height: 28px;
  white-space: nowrap;
  background: none;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  vertical-align: middle;
  touch-action: manipulation;
  user-select: none; }
  .btn:hover, .btn:focus {
    text-decoration: none; }
  .btn.active {
    text-decoration: none;
    color: #C7C7C7;
    border-color: transparent; }

.btn-link {
  font-weight: normal;
  color: #2A97C6; }
  .btn-link:hover, .btn-link:focus {
    text-decoration: underline;
    color: #2481a9;
    background-color: transparent; }

.btn-sm {
  padding: 8px 15px;
  font-size: 12px;
  font-weight: bold;
  line-height: 18px; }

.btn-default {
  color: #4E4E4E;
  background: #ECECEC; }
  .btn-default:hover {
    color: #4E4E4E;
    background: #f4f4f4; }
  .btn-default:active, .btn-default.active, .btn-default:focus {
    color: #4E4E4E;
    background: #dfdfdf;
    box-shadow: inset 0 1px 4px 0 rgba(39, 41, 43, 0.15); }
  .btn-default.disabled, .btn-default.disabled:hover, .btn-default.disabled:focus, .btn-default.disabled.focus, .btn-default.disabled:active, .btn-default.disabled.active, .btn-default[disabled], .btn-default[disabled]:hover, .btn-default[disabled]:focus, .btn-default[disabled].focus, .btn-default[disabled]:active, .btn-default[disabled].active, fieldset[disabled] .btn-default, fieldset[disabled] .btn-default:hover, fieldset[disabled] .btn-default:focus, fieldset[disabled] .btn-default.focus, fieldset[disabled] .btn-default:active, fieldset[disabled] .btn-default.active {
    background: #ECECEC; }

.btn-success {
  color: #fff;
  background: #5cb85c; }
  .btn-success:hover {
    color: #fff;
    background: #67bd67; }
  .btn-success:active, .btn-success.active, .btn-success:focus {
    color: #fff;
    background: #4cae4c;
    box-shadow: inset 0 1px 4px 0 rgba(39, 41, 43, 0.15); }
  .btn-success.disabled, .btn-success.disabled:hover, .btn-success.disabled:focus, .btn-success.disabled.focus, .btn-success.disabled:active, .btn-success.disabled.active, .btn-success[disabled], .btn-success[disabled]:hover, .btn-success[disabled]:focus, .btn-success[disabled].focus, .btn-success[disabled]:active, .btn-success[disabled].active, fieldset[disabled] .btn-success, fieldset[disabled] .btn-success:hover, fieldset[disabled] .btn-success:focus, fieldset[disabled] .btn-success.focus, fieldset[disabled] .btn-success:active, fieldset[disabled] .btn-success.active {
    background: #5cb85c; }

.btn-danger {
  color: #fff;
  background: #d9534f; }
  .btn-danger:hover {
    color: #fff;
    background: #dc5f5c; }
  .btn-danger:active, .btn-danger.active, .btn-danger:focus {
    color: #fff;
    background: #d43f3a;
    box-shadow: inset 0 1px 4px 0 rgba(39, 41, 43, 0.15); }
  .btn-danger.disabled, .btn-danger.disabled:hover, .btn-danger.disabled:focus, .btn-danger.disabled.focus, .btn-danger.disabled:active, .btn-danger.disabled.active, .btn-danger[disabled], .btn-danger[disabled]:hover, .btn-danger[disabled]:focus, .btn-danger[disabled].focus, .btn-danger[disabled]:active, .btn-danger[disabled].active, fieldset[disabled] .btn-danger, fieldset[disabled] .btn-danger:hover, fieldset[disabled] .btn-danger:focus, fieldset[disabled] .btn-danger.focus, fieldset[disabled] .btn-danger:active, fieldset[disabled] .btn-danger.active {
    background: #d9534f; }

.todos {
  position: relative;
  background: #bbb;
  color: #333;
  margin: 50px auto;
  width: 80%;
  padding: 20px;
  border-radius: 0 0 5px 5px;
  border-collapse: collapse;
  max-height: 300px;
  overflow: auto; }
  .todos td {
    padding: 20px; }
  .todos td.completed {
    opacity: 0.6;
    text-decoration: line-through; }

.add_todo {
  margin-top: 40px;
  text-align: center; }

.form__control {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 32px;
  padding: 6px 10px;
  font-size: 16px;
  line-height: 1.42857;
  color: #525B64;
  background-color: #fff;
  background-image: none;
  border: 1px solid #D3DBE2;
  border-radius: 5px;
  outline: 0; }

.m-b-md {
  margin-bottom: 20px; }

.m-r-md {
  margin-right: 20px; }

.pull-right {
  float: right; }

.h2 {
  display: inline;
  font-size: 26px;
  font-weight: bold; }

.todo_list_container {
  position: relative;
  width: 100%; }

.toggle_all {
  position: absolute;
  top: -25px;
  right: 0;
  height: 25px;
  border-radius: 10px 10px 0 0;
  width: 28px;
  background: #dedede;
  color: #444;
  cursor: pointer; }

#toggle_all {
  appearance: none;
  background-color: #fafafa;
  border: 1px solid #cacece;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 9px;
  border-radius: 50%;
  position: relative;
    position-top: 10px; }

#toggle_all:active, #toggle_all:checked:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1); }

#toggle_all:checked {
  background-color: #e9ecee;
  border: 1px solid #adb8c0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
  color: #99a1a7; }

#toggle_all:checked:after {
  content: '\2714';
  font-size: 14px;
  position: absolute;
  top: -1px;
  left: 4px;
  color: #99a1a7; }

label.toggle_all {
  position: relative;
  top: 10px;
  cursor: pointer; }
