
$font_size-base:          14px !default
$line_height-base:        1.428571429 !default
$line_height-computed:    floor(($font_size-base * $line_height-base)) !default
$padding_vertical-base:     6px !default
$padding_horizontal-base:   10px !default

$input-base_height:              ($line_height-computed + ($padding_vertical-base * 2)) !default
  
  
=btn-backgrounded($color, $background)
  color: $color
  background: $background
  
  &:hover
    color: $color
    background: lighten($background, 3%)
    
  &:active, &.active, &:focus
    color: $color
    background: darken($background, 5%)
    box-shadow: inset 0 1px 4px 0 rgba(39, 41, 43, 0.15)
    
  &.disabled, &[disabled], fieldset[disabled] &
    &, &:hover, &:focus, &.focus, &:active, &.active
      background: $background

  
body
  height: 100vh
  width: 100%
  margin: 0
  padding: 0
  font-family: sans-serif


#root
  width: 100%
  height: 100%
.container
  display: flex
  flex-direction: column
  align-items: center
  margin: 0 auto
  height: 100%

.btn
  display: inline-block
  box-sizing: border-box
  margin-bottom: 0
  padding: 15px 30px
  text-align: center
  text-decoration: none
  font-size: 21px
  // font-weight: bold
  line-height: 28px
  white-space: nowrap
  background: none
  cursor: pointer
  border: 1px solid transparent
  border-radius: 4px
  vertical-align: middle
  touch-action: manipulation
  user-select: none
  &:hover, &:focus
    text-decoration: none
  &.active
    text-decoration: none
    color: #C7C7C7
    border-color: transparent
.btn-link
  font-weight: normal
  color:#2A97C6
  &:hover, &:focus
    text-decoration: underline
    color: darken(#2A97C6, 7%)
    background-color: transparent

.btn-sm
  padding: 8px 15px
  font-size: 12px
  font-weight: bold
  line-height: 18px
.btn-default
  +btn-backgrounded(#4E4E4E, #ECECEC)
.btn-success
  +btn-backgrounded(#fff, #5cb85c)
.btn-danger
  +btn-backgrounded(#fff, #d9534f)


.todos
  position: relative
  background: #bbb
  color: #333
  margin: 50px auto
  width: 80%
  padding: 20px
  border-radius: 0 0 5px 5px
  border-collapse: collapse
  max-height: 300px
  overflow: auto
  td
    padding: 20px
  td.completed
    opacity: 0.6
    text-decoration: line-through
li.completed

li.active

.add_todo
  margin-top: 40px
  text-align: center
.form__control
  display: block
  box-sizing: border-box
  width: 100%
  height: $input-base_height
  padding: $padding_vertical-base $padding_horizontal-base
  font-size: 16px
  line-height: $line_height-base
  color: #525B64
  background-color: #fff
  background-image: none
  border: 1px solid #D3DBE2
  border-radius: 5px
  // transition: border-color $transition $transition_time
  outline: 0
.m-b-md
  margin-bottom: 20px
.m-r-md
  margin-right: 20px
.pull-right
  float: right
.h2 
  display: inline
  font-size: 26px
  font-weight: bold

.todo_list_container
  position: relative
  width: 100%
.toggle_all
  position: absolute
  top:  -25px
  right: 0
  height: 25px
  border-radius: 10px 10px 0 0 
  width: 28px
  background: #dedede
  color: #444
  cursor: pointer

#toggle_all
	appearance: none
	background-color: #fafafa
	border: 1px solid #cacece
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05)
	padding: 9px
	border-radius: 50%
	position: relative
  top: 10px
#toggle_all:active, #toggle_all:checked:active
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1)

#toggle_all:checked
	background-color: #e9ecee
	border: 1px solid #adb8c0
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1)
	color: #99a1a7
#toggle_all:checked:after 
	content: '\2714'
	font-size: 14px
	position: absolute
	top: -1px
	left: 4px
	color: #99a1a7
label.toggle_all
  position: relative
  top: 10px
  cursor: pointer